interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.openweathermap.org/data/2.5/weather?q=Los+Angeles&apikey=
  response:
    body:
      string: '{"coord":{"lon":-118.24,"lat":34.05},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":284.43,"pressure":1020,"humidity":62,"temp_min":279.82,"temp_max":287.59},"visibility":16093,"wind":{"speed":0.86,"deg":228},"clouds":{"all":1},"dt":1575366750,"sys":{"type":1,"id":3578,"country":"US","sunrise":1575384130,"sunset":1575420222},"timezone":-28800,"id":5368361,"name":"Los
        Angeles","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
